BATCH_PORT=8000
STREAM_PORT=8001
SERVING_PORT=8002

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=hust-bus-stop
S3_ENDPOINT=minio:9000

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=hust-bus-stop

BATCH_ENABLED_JOBS=bootstrap,uc01,uc03
BATCH_JOB_BOOTSTRAP_PATH=batch.job.bootstrap.BootstrapJob
BATCH_JOB_UC01_PATH=batch.job.uc01.UC01Job
BATCH_JOB_UC03_PATH=batch.job.uc03.UC03Job
