services:
  spark-master:
    image: bitnami/spark:3.5.5
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    ports:
      - "8080:8080"
      - "7077:7077"
  spark-worker:
    image: bitnami/spark:3.5.5
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    depends_on:
      - spark-master
  spark-connect:
    image: bitnami/spark:3.5.5
    command:
      - "/opt/bitnami/spark/sbin/start-connect-server.sh"
      - "--master"
      - "spark://spark-master:7077"
      - "--packages"
      - "org.apache.spark:spark-connect_2.12:3.5.5,org.postgresql:postgresql:42.7.5"
      - "--conf"
      - "spark.hadoop.fs.s3a.endpoint=http://minio:9000"
      - "--conf"
      - "spark.hadoop.fs.s3a.path.style.access=true"
      - "--conf"
      - "spark.hadoop.fs.s3a.connection.ssl.enabled=false"
    environment:
      - SPARK_MODE=driver
      - SPARK_MASTER_URL=spark://spark-master:7077
      - AWS_ACCESS_KEY_ID=${S3_ACCESS_KEY?Variable not set}
      - AWS_SECRET_ACCESS_KEY=${S3_SECRET_KEY?Variable not set}
    ports:
      - "15002:15002"
    depends_on:
      - spark-master
